extends ../layout/layout.php

block main
    section#register-product
        include ../components/warning.php
        div#list
            table
                thead
                    tr
                        th ID
                        th Name
                        th Description
                        th Image
                        th Price
                        th  Quantity
                tbody
                    tr(v-for="(product, index) of list" :key="index")
                        td {{ product.id }}
                        td {{ product.name }}
                        td {{ product.description }}
                        td
                            img(:src="product.image")
                        td {{ product.price }}
                        td {{ product.quantity }}
                
        h1 Product
        form.wrapper-2(@submit.prevent.cancel="main.killForm()")
            div.line
                label ID
                span#id 0
            div.line
                label Nome
                input(v-model="input.name" type="text" name="name" placeholder="Product name" class="form-control")
            div.line
                label Descrição
                textarea(v-model="input.description" name="description" placeholder="Product description" class="form-control")
            div.line    
                label Foto
                input(ref="image" v-model="input.image" type="file" name="image" placeholder="Product image" class="form-control")
            div.line 
                label Preço
                input(v-model="input.price" type="text" name="price" placeholder="Product price" class="form-control")
            div.line 
                label Quantidade
                input(v-model="input.quantity" type="text" name="quantity" placeholder="Product quantity in stock" class="form-control")
            div.line
                label Taxa
                select(v-model="input.product_type_id" name="product_type_id" class="form-control")
                    option(v-for="(productType, index) of productTypesList" :key="index" :value="productType.id") {{ productType.name }}
            div.buttons
                button(@click="register()" class="btn btn-primary") Register
    style.
        section#register-product table img { width: 80px; }              
    script.
       mainObject.vue = {
            el: 'section#register-product',
            data() {
                return {
                    input: {
                        name: '',
                        description: '',
                        image: null,
                        price: '0,00',
                        quantity: 0,
                        product_type_id: 0,
                    },
                    list: [],
                    productTypesList: [],
                    canShowMessage: false,
                    alertMessage: '',
                };
            },
            methods: {
                getList() {
                    const vue = this;
                    const url = mainObject.getApiUrl('products');

                   mainObject.getJSONRequest(url, 'GET')
                        .then(function(json) { vue.list = json; });
                },
                fillProductTypes() {
                    const vue = this;
                    const url = mainObject.getApiUrl('product-types');

                   mainObject.getJSONRequest(url, 'GET')
                        .then(function(json) {
                            vue.productTypesList = json;
                            vue.input.product_type_id =isFilledArray(json) ? json[0].id : 0;
                        });
                },
                add() {
                    this.list.push( Object.assign({}, this.input) );
                },
                showMessage(message) {
                    this.canShowMessage = true;
                    this.alertMessage = message;
                },
                hideMessage() {
                    this.canShowMessage = false;
                },
                register() {
                    const vue = this;
                    const url =getApiUrl('product');
                    const files = vue.$refs.image.files;

                    vue.input.image_file = (files.length > 0) ? files[0] : null;
                    vue.input.image = (vue.input.image_file !== null) ? files[0].name : '';

                   getJSONRequest(url, 'POST', { body: vue.input })
                        .then(function(json) {                            
                            if (json.done) {
                                vue.add();
                            }

                            vue.showMessage(json.message);
                        });
                },
            },
            mounted() {
                this.getList();
                this.fillProductTypes(); 
            },
        };
