extends ../layout/layout.php

block main
    section#register-product-type
        include ../components/warning.php
        div#list
            table
                thead
                    tr
                        th ID
                        th Name
                        th Description
                tbody
                    tr(v-for="(product, index) of list" :key="index")
                        td {{ product.id }}
                        td {{ product.name }}
                        td {{ product.description }}
        h1 Product types
        form.wrapper-2(@submit.prevent.cancel="killForm()")
            div.line
                label ID
                span#id 0
            div.line
                label Nome
                input(v-model="input.name" type="text" name="name" placeholder="Product type name" class="form-control")
            div.line
                label Descrição
                textarea(v-model="input.description" name="description" placeholder="Product type description" class="form-control")
            div.line
                label Taxa
                select(v-model="input.tax_id" name="tax_id" placeholder="Product type tax" class="form-control")
                    option(v-for="(tax, index) of taxesList" :key="index" :value="tax.id") {{ tax.name }}
            div.buttons
                button(@click="register()" class="btn btn-primary") Register

    script.
       mainObject.vue = {
            el: 'section#register-product-type',
            data() {
                return {
                    input: {
                        name: '',
                        description: '',
                        tax_id: 0,
                    },
                    list: [],
                    taxesList: [],
                    canShowMessage: false,
                    alertMessage: '',
                };
            },
            methods: {
                killForm() {
                    return false;
                },
                getList() {
                    const vue = this;
                    const url = mainObject.getApiUrl('product-types');

                   mainObject.getJSONRequest(url, 'GET')
                        .then(function(json) { vue.list = json; });
                },
                fillTaxes() {
                    const vue = this;
                    const url = mainObject.getApiUrl('taxes');

                   mainObject.getJSONRequest(url, 'GET')
                        .then(function(json) {
                            vue.taxesList = json;
                            vue.input.tax_id =isFilledArray(json) ? json[0].id : 0;
                        });
                },
                add() {
                    this.list.push( Object.assign({}, this.input) );
                },
                showMessage(message) {
                    this.canShowMessage = true;
                    this.alertMessage = message;
                },
                hideMessage() {
                    this.canShowMessage = false;
                },
                register() {
                    const vue = this;
                    const url =getApiUrl('product-type');

                   getJSONRequest(url, 'POST', { body: vue.input })
                        .then(function(json) {                            
                            if (json.done) {
                                vue.add();
                            }

                            vue.showMessage(json.message);
                        });
                },
            },
            mounted() {
                this.getList();
                this.fillTaxes();
            },
        };
