- $cart_page_type = 'minicart'
script.
        window.getCartData = function() {
            return {
                el: 'section#minicart',
                title: '',
            };
        }
style
    include ../../public/assets/styles/minicart.css
include generic-cart.php
