extends layout/layout.php

block main
    section#not-found
        h1 error 404 not found
        img(src="public/assets/images/404.webp")
    style.
        section#not-found img {
            width: 60%;
            display: block;
            margin: 0 auto;
        }
