extends layout/layout.php

block main
    section#home
        h1 Home
        include components/warning.php
        h2 Lista de produtos
        ul#showcase.wrapper-1
            li.card-style(v-for="(product, index) of list" :key="index")
                div
                    a(:href="getBuyUrl(product.id)")
                        h3 {{ product.name }}
                    img(:src="product.image")
                    p {{ product.description }}
                    se-price {{ product.price }}
                    se-product-type {{ product.type_name }}
                    a(:href="getBuyUrl(product.id)")
                        se-product-id {{ product.id }}
                    div.buttons
                        button(@click="addToCart(product)" class="btn btn-primary") Add To Cart
    style
        include public/assets/styles/home.css
    script.
       mainObject.vue = {
            el: 'section#home',
            data() {
                return {
                    cart: [],
                    list: [],
                    canShowMessage: false,
                    alertMessage: '',
                };
            },
            methods: {
                getList() {
                    const vue = this;
                    const url = mainObject.getApiUrl('products?full');

                   mainObject.getJSONRequest(url, 'GET')
                        .then(function(json) { vue.list = json; });
                },
                fillProductTypes() {
                    const vue = this;
                    const url =getApiUrl('product-types');

                   getJSONRequest(url, 'GET')
                        .then(function(json) {
                            vue.productTypesList = json;
                            vue.input.product_type =isFilledArray(json) ? json[0].id : 0;
                        });
                },
                showMessage(message) {
                    this.canShowMessage = true;
                    this.alertMessage = message;
                },
                hideMessage() {
                    this.canShowMessage = false;
                },
                getBuyUrl(productId) {
                    return '/product/' + productId; 
                },
                addToCart(product) {
                    mainObject.vueMiniCart.addToCart(product);
                    mainObject.vueMiniCart.open();
                },
            },
            mounted() {
                this.getList();
            },
        };
