ul#list img {
    width: 30%;
    margin: 0 auto;
    display: block;
}

section#cart label {
    display: inline-block;
    width: 128px;
}

section#cart label + input { width: calc(100% - 128px); }


ul#list,
ul#list ul { list-style-type: none; }


section#cart img,
section#cart div.data {
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

section#cart img {
    margin-right: 34px;
    width: 33%;
}

section#cart ul#list span {
    text-align: end;
    width: calc(100% - 128px);
    display: inline-block;
}

section#cart ul#list li { margin-bottom: 60px; }

div#totals h2,
div#totals div.line { margin-bottom: 15px; }

div#totals h2 + div {
    margin: 0 auto;
    display: table;
}


@media screen and (min-width: 100px) and (max-width: 768px) {
    section#minicart > div {
        position: static;
        margin: 100px auto 0;
    }

    div#totals h2 + div { width: 80%; }

    section#cart img,
    section#cart div.data {
        display: block;
        width: 100%;
    }

    section#cart img {
        margin: 0 auto;
        width: 70%;
    }
}
