* {
    margin: 0;
    padding: 0;
}

ul { padding-left: 0; }

h1, h2 { text-align: center; }
div.line { margin-bottom: 10px; }

h1#logo {        
    background: url("/public/assets/images/soft-expert.gif") no-repeat 0 0 /100% 100%;
    height: 76px;
    width: 340px;
    font-size: 0;
    margin: 26px auto 30px;
}
    
main { width: 80%; }
nav#main-menu { display: table; }

span.warning {
    text-align: center;
    display: block;
    width: 50%;
    margin: 0 auto;
}

.card-style {
    margin: 20px 10px 80px;
    box-shadow: 0px 0px 4px #00000052;
    padding: 20px 10px 40px;
}

div#list {
    height: 300px;
    overflow-y: auto;
}

main,
nav#main-menu,
section#home,
section[id*="register"],
section[id*="register"] table,
section[id*="register"] form { margin: 0 auto; }

.wrapper-1,
.wrapper-2{
    width: 60%;
    margin: 0 auto;
}

.wrapper-2{ width: 56%; }

section[id*="register"] h1 { text-align: center; }

section[id*="register"] table {
    margin-bottom: 30px;
    height: 200px;
    overflow-y: auto;
}

section[id*="register"] table th,
section[id*="register"] table td { padding: 10px; } 

    /* Home */
    ul#showcase li {
        display: inline-block;
        width: 30.3%;
    }

    /*  Register */
    
    div#list {
        width: 40%;
        height: 230px;
        margin: 0 auto;
    }
        
    /* Cart */
    
    section#cart .wrapper-2{ width: 40%; }
    
    /* Minicart */
    
    section#cart .wrapper-2{ width: 40%; }

@media screen and (min-width: 100px) and (max-width: 768px) {

    h1#logo {
        width: 250px;
        height: 70px;
    }

    main {
        width: 100%;
        padding: 0 10px;
    }

    .wrapper-1 { width: 100%; }
    .wrapper-2 { width: 90%; }

    /* home */

    ul#showcase li {
        display: inline-block;
        width: 43.8%;
    }

    /*  register */
    
    div#list {
        width: 90%;
    }
    
    section[id*="register"] table { margin-bottom: 0; }

    /*  buy */

    section#cart .wrapper-2 { width: 100%; }
    section#cart input { width: 100%; }
}