- $can_show_menu = \Work\Soft_Expert\Renderer::can_show_this('menu')
- $can_show_minicart = \Work\Soft_Expert\Renderer::can_show_this('minicart')

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title The SoftExpress Test
        include libraries.php
        script
            include ../../public/assets/scripts/main.js
        style
            include ../../public/assets/styles/main.css
    body
        main
            include ../components/loader.php
            header
                h1#logo Soft Expert
                if $can_show_menu 
                    include menu.php
                if $can_show_minicart 
                    include ../components/minicart.php
            block main
            footer
                script(name="footer-scripts").
                    mainObject.killLoader();
