nav#main-menu
    ul
        li
            a(href="/home") Home
        li
            a(href="#") Register
            ul    
                li
                    a(href="/register/products") Products
                li
                    a(href="/register/product-types") Product types
                li
                    a(href="/register/taxes") Taxes
        li
            a(href="/buy") Buy
style
    include public/assets/styles/menu.css
